{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Introducción</title>
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        {% include 'includes/header.html' %}

        <div class="container">

            {% include 'includes/items.html' %}

            <div class="right">
                <h1><img src="{% static 'introduccion.png' %}" alt=""> ¿Que es la Biomasa?</h1>

                <p>
                    La biomasa es la materia orgánica de origen vegetal o animal que se emplea como una fuente de energía
                    renovable. Esta amplia categoría engloba una variedad de materiales, como residuos agrícolas,
                    forestales, industriales y urbanos, así como cultivos específicamente destinados para su uso energético.
                    Se puede aprovechar a través de procesos como la combustión, la fermentación o la transformación
                    química. Entre los ejemplos se encuentran la madera, los restos de cultivos, los alimentos, el estiércol
                    y las algas.
                    <br>
                    La energía producida a partir de la biomasa se denomina bioenergía y tiene aplicaciones en la generación
                    de electricidad, calefacción y la producción de biocombustibles como el etanol y el biodiesel. Una de
                    las ventajas más destacadas de la biomasa es su naturaleza renovable, ya que puede regenerarse en un
                    plazo razonable, a diferencia de los combustibles fósiles que requieren millones de años para formarse y
                    son finitos.
                    <br>
                    La generación de energía a partir de biomasa residual es un proceso complejo en el ámbito de la
                    generación
                    eléctrica del país, especialmente en las zonas no interconectadas. La disponibilidad de la biomasa residual en las ZNI, representa un potencial energético que puede ser aprovechado para generación de energía con la aplicación de procesos y tecnologías adecuadas, dentro de las denominadas rutas tecnológicas.
                    <br> En este programa, se propone desarrollar una algoritmo para apoyar el diseño de centrales de
                    generación de energía a partir de biomasa residual en las zonas no interconectadas (ZNI) de Colombia. Se definieron los procesos
                    necesarios para llegar a dimensionar el sistema utilizando bases de datos existentes de biomasa residual
                    en Colombia, potenciales energéticos, tecnologías y capacidades tecnológicas de la tecnología más
                    apropiada y cantidad de plantas posibles para asegurar una operación continua del sistema.

                    Algunos términos para la compresión del programa de diseño de centros de generación
                    distribuida de Biomasa residual en las ZNI de Colombia se definen a continuación. 
                </p>

                <ul>
                    <li><strong>Centro de consumo:</strong> Puntos finales de uso energético como municipios, pueblos, ciudades.</li>
                    <li><strong>CGD:</strong> Centro de generación distribuida, central donde produce energía cercana al centro de consumo, comunmente mediante fuentes renovables.</li>
                    <li><strong>BR:</strong> Biomasa residual, materia orgánica de desechos para energía sostenible.</li>
                    <li><strong>SIN:</strong> Sistema interconectado nacional.</li>
                    <li><strong>ZNI:</strong> Zonas no interconectadas, a áreas geográficas que no se encuentran acopladas eléctricamente al SIN, esto es, no tienen acceso al servicio de energía eléctrica a través de un sistema interconectado pero cuentan con soluciones locales de generación.</li>
                    <li><strong>PCI:</strong> Poder calorífico inferior, calor liberado al quemar una sustancia.</li>
                    <li><strong>RSU:</strong> Residuos sólidos urbanos</li>
                    <li><strong>RSUO:</strong> Residuos sólidos urbanos orgánicos</li>
                    <li><strong>Digestión Anaerobia:</strong> Descomposición sin oxígeno para generación de biogás.</li>
                    <li><strong>Gasificación:</strong> Conversión de biomasa en gas de síntesis (Syngas o gas pobre).</li>
                    <li><strong>Combustión:</strong> Quema controlada para calor y energía.</li>
                    <li><strong>Ciclo Rankine:</strong> Ciclo termodinámico que tiene como objetivo la conversión de calor en trabajo, constituyendo lo que se denomina un ciclo de potencia.</li>
                    <li><strong>Ciclo Rankine Orgánico:</strong> Variedad con fluido orgánico en vez de agua.</li>
                    <li><strong>Syngas (Gas de Síntesis):</strong> Es una mezcla de gases compuesta principalmente por monóxido de carbono (CO) e hidrógeno (H2). Este gas se produce a través de procesos como la gasificación de biomasa, carbón o residuos orgánicos.</li>
                    <li><strong>Motor de Combustión Interna:</strong> Es una máquina que convierte la energía química de un combustible en energía mecánica a través de una serie de procesos de combustión y expansión. </li>
                    <li><strong>Eficiencia Energética:</strong> Relación entre energía útil y total consumida.</li>
                    <li><strong>Ruta tecnológica (RT):</strong> Se refieren a los diferentes procesos y tecnologías utilizadas para convertir la biomasa residual en energía utilizable. </li>

                </ul>
                <p>Click en Continuar</p>   
                <a href="{% url 'inicio' %}"><button class="button">Continuar</button></a>
            </div>

        </div>

    </body>

</html>