{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Biomasa RSU</title>
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script defer src="{% static 'js/script.js' %}"></script>
    </head>

    <body>
        {% include 'includes/header.html' %}
        <div class="container">
            {% include 'includes/items.html' %}
            <div class="right">
                {% if not proceso.rsu %}
                <h1><img src="{% static 'RSU.png' %}" alt=""> Módulo Residuos Sólidos Urbanos (RSU)</h1>
                <form action="{% url 'rsu_pregunta' proceso.id %}" method="post">
                    {% csrf_token %}
                    <div class="inputs">
                        <p>
                            Los Residuos Sólidos Urbanos (RSU), son aquellos en estado sólido o semi sólido producto de las
                            actividades propias del hombre, los cuales se pueden clasificar según su origen, así:
                            domiciliarios,
                            de limpieza urbana, de establecimientos comerciales y prestadores de servicios, de servicios
                            públicos, de saneamiento básico, de industrias, de servicios de salud, de construcción civil,
                            de servicios de transporte y de minería. (Superservicios & DNP, 2018). Se recomienda ingresar los residuos en lo posible secos sin posibilidad de reciclar (no ingresar residuos de comida, rsiduos de jardin con altas humedades) la composición recomendada puede contener: 
                            <li>Papel</li>
                            <li>Cartón</li> 
                            <li>Textiles</li>
                            <li>Caucho</li>
                            <li>Cuero</li>
                            <li>Plástico</li>
                            <li>Residuos de madera</li>
                       
                            <br>
  
                      
                        <h3>RESTRICCIONES</h3>
                       
                        <p>
                        Es fundamental tener en cuenta las restricciones que existen al utilizar RSU en la generación de
                        energía:
                        <li>
                            Distancia máxima entre CGD y fuente de biomasa: La falta de separación en los Residuos
                            Sólidos
                            Urbanos (RSU) resulta en altos niveles de humedad y un volumen significativo. Esta mezcla
                            heterogénea dificulta su manejo eficiente.
                            Se recomienda que la distancia entre el centro de Generación de Energía y la biomasa sea
                            <strong> inferior a 2 km </strong>, debido a diversos factores que afectan el transporte de
                            la biomasa por costos logísticos elevados, los requisitos de permisos ambientales y
                            consideraciones sociales,entre otros. Es importante respetar esta distancia para garantizar
                            un proceso eficiente y
                            minimizar los impactos negativos asociados al manejo de residuos solidos urbanos en la
                            producción de energía.

                        </li>
                        </p>

                        
                        <strong> 
                            Evalue si la biomasa residual soporta la restricción anteriormente expuesta y responda:
                            <br>
                            ¿Dispone de Residuos Sólidos Urbanos (RSU) para el proyecto de energía? 
                        </strong>
                    </div>
                    <button class="button" type="submit" name="respuesta" value="True">Sí</button>
                    <button class="button" type="submit" name="respuesta" value="False">No</button>
                </form>

                {% else %}
                <div class="container-biomasa">
                    {% if proceso.total_masa_rsu <= 0 %}
                    <div class= >
                         <h1>Módulo Residuos Sólidos Urbanos (RSU)</h1>
                            En módulo RSU se determinará la masa de residuo generado y el Potencial energético de los RSU ,
                            a partir de los datos ingresados. Se recomienda ingresar los residuos en lo posible secos sin posibilidad de reciclar (no se recomienda ingresar residuos con altas humedades) la composición recomendada es: 
                            <li>Papel</li>
                            <li>Cartón</li> 
                            <li>Textiles</li>
                            <li>Caucho</li>
                            <li>Cuero</li>
                            <li>Plástico</li>
                            <li>Residuos de madera</li>

                            <br> Se dan 2 opciones para su registro:
                            <ol>
                                <li>Ingrese la cantidad de residuos generados en [ton/año] ó </li>
                                <li>Ingrese cantidad de habitantes y seleccionando región donde se ubica. </li>
                            </ol>

                            <div class="inputs">
                                <strong>¿Conoce la cantidad de RSU generados al año para el proyecto de energía? </strong>
                                
                            </div>

                            <button id="btnSi" class="button">INGRESE CANTIDAD DE RESIDUOS</button>
                            <button id="btnNo" class="button">INGRESE CANTIDAD HABITANTES Y REGIÓN</button>

                            <div id="divNo" class="oculto">
                                <form action="{% url 'rsu' proceso.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="inputs">
                                        <strong>Ingrese cantidad de habitantes del centro de consumo: </strong> {{form1.cant_personas}}
                                        <strong>Seleccione región de Colombia: </strong> {{form1.region}}
                                    </div>
                                    <button type="submit" class="button">Añadir Biomasa</button>
                                </form>
                            </div>

                            <div id="divSi" class="oculto">
                                <form action="{% url 'rsu' proceso.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="inputs">
                                        <strong>Ingrese cantidad de RSU (ton/año): </strong> {{form2.masa_RSU}}
                                    </div>
                                    <button type="submit" class="button">Añadir Biomasa</button>
                                </form>
                            </div>
                    </div>
                    {% else %}
                    <div class=>
                        <h1>Resultados Residuos Sólidos Urbanos (RSU)</h1>
                        <p>En la siguente tabla se muestran los resultados de masa de residuo y potencial energético
                            calculado:</p>
                        <table>
                            <thead>

                                <tr>
                                    {% for biomasa in proceso.biomasa_rsu.all %}
                                        <th>Nº</th>
                                        {% if biomasa.cant_personas is not None %}
                                        <th>Cantidad de personas</th>
                                        {% endif %}
                                        <th>Masa RSU [ton/año]</th>
                                        <th>Potencial energético Termoquímico [MWh/año]</th>
                                        {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for biomasa in proceso.biomasa_rsu.all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    {% if biomasa.cant_personas %}
                                    <td>{{ biomasa.cant_personas }}</td>
                                    {% endif %}
                                    <td>{{ biomasa.masa_RSU|floatformat:2 }}</td>
                                    <td>{{ biomasa.pot_rt_termo_rsu|floatformat:3 }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        
                        <a href="{% url 'rsuo' proceso.id %}"><button class="button">Continuar</button></a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </body>

</html>