{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Biomasa RSUO</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
</head>

<body>
    {% include 'includes/header.html' %}
    <div class="container">
        {% include 'includes/items.html' %}
        <div class="right">
            {% if not proceso.rsuo %}
            <h1><img src="{% static 'RSUO.png' %}" alt=""> Módulo Residuos Sólidos Urbanos Organicos (RSUO)</h1>
            <form action="{% url 'rsuo_pregunta' proceso.id %}" method="post">
                {% csrf_token %}
                <div class="inputs">
                <p> En módulo RSUO se determina la masa de residuo generado y el Potencial energético de los residuos
                    solidos urbanos organicos RSUO, a partir de los datos ingresados masa del residuo al año. <br>
                    Los residuos solidos urbanos organicos son desechos biodegradables de origen vegetal o animal que se
                    generan en entornos urbanos. Aqui se considera la biomasa organica como tales como Excretas humanas,
                    residuos de frutas y verduras(comunmente encontradas plaza de mercado) y residuos de Poda.
                    La biomasa residuos solidos urbanos organicos suelen transformarse en energía y productos
                    aprovechables de compost a través de procesos bioquímicos (Digestión Anaerobia).
                    <br>
                    Es fundamental tener en cuenta las restricciones que existen al utilizar RSUO en la generación de
                    energía:
                </p>

                <h3>RESTRICCIONES</h3>
                    <ol>
                        <li>
                            Distancia máxima entre CGD y fuente de biomasa: Se recomienda que la distancia entre el
                            Centro de Generación de Energía y la biomasa sea <strong> inferior a 2 km </strong>. Esta
                            restricción se debe a diversos factores que afectan el transporte de la biomasa tales como
                            la pérdida de calidad,
                            el aumento de los costos, los requisitos de permisos ambientales y consideraciones sociales,
                            entre otros. Es importante respetar esta distancia para garantizar un proceso eficiente y
                            minimizar los impactos negativos asociados al manejo de RSUO en la producción de energía.
                        </li>

                        <li>
                            Disponibilidad del recurso hídrico: La biodigestión requiere una cantidad significativa de
                            agua para mantener la actividad microbiológica y la hidratación del material. A modo de
                            referencia general, en muchos casos prácticos,los biodigestores suelen ubicarse a distancias
                            que no superan los <STRONg>500 metros </STRONg>o incluso menos,desde la fuente de los RSUO.
                        </li>
                    </ol>
                        
                    <strong> Evalue si la biomasa residual soporta la restricción 1 y 2, responda:
                        <br>
                        ¿Dispone de Biomasa RSUO para el proyecto de energía?</strong>
                </div>
                <button class="button" type="submit" name="respuesta" value="True">Sí</button>
                <button class="button" type="submit" name="respuesta" value="False">No</button>
          
            </form>
            {% else %}

            <div>
                <h1> Módulo Residuos Sólidos Urbanos Organicos (RSUO)</h1>

                <P>
                    En módulo RSUO se determinará el Potencial energético de la
                    biomasa residual RSUO, de acuerdo a la masa de residuo ingresado. <br>
                    Seleccione el tipo de residuo y la cantidad de residuo generados al año.
                </P>
  
            </div>

            <div class="container-biomasa">
                <div class="left-biomasa">
                  
                    <form action="{% url 'rsuo' proceso.id %}" method="post">
                        {% csrf_token %}
                        <div class="inputs">
                        

                            <strong>Seleccione tipo de RSOU: </strong> {{form.tipo}}
                            <strong>Ingrese cantidad de RSUO [ton/año]: </strong> {{form.masa_RSUO}}
                        </div>
                        <button type="submit" class="button">Añadir</button>
                    </form>
                </div>
                <div class="right-agricola">
                    <h1>Resultados RSUO</h1>
                    <p>En la siguente tabla se muestran los resultados de las biomasas RSUO añadidas</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Residuo</th>
                                <th>Masa RSUO [ton/año]</th>
                                <th>Potencial energético Bioquímico [MWh/año]</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for biomasa in proceso.biomasa_rsuo.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ biomasa.tipo_rsuo.tipo}}</td>
                                <td>{{ biomasa.masa_RSUO}}</td>
                                <td>{{ biomasa.pot_rt_bioq_rsuo|floatformat:2 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="2">Total:</th>
                                <td> {{ proceso.total_masa_rsuo }} </td>
                                <td> {{ proceso.total_pot_rt_bioq_rsuo|floatformat:3 }} </td>
                            </tr>
                        </tfoot>
                    </table>
                  
                   <p> Cuando finalice de ingresar los datos, Click para pasar al siguiente módulo. 
                   </p>
                    <a href="{% url 'demanda' proceso.id %}"><button class="button">Finalizar y continuar</button></a>
                   
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>