{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viabilidad</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'includes/header.html' %}
        <div class="container">
            {% include 'includes/items.html' %}
            <div class="right">
                {% if not proceso.region %}
                    <h1><img src="{% static 'viabilidad_region.png' %}" alt=""> Viabilidad</h1>
                    <div class= "description">
                        <p>
                          Para realizar un análisis del uso energético de la biomasa, es crucial considerar la región de Colombia y la
                          distancia de recolecta de la biomasa. La región se refiere al lugar geográfico en el cual se llevaría a cabo el
                         proyecto de biomasa. En este programa se evalúan las ZNI de Colombia que son la Región Amazónica, Pacífica y Orinoquía. <br>
                         La distancia se refiere a la proximidad o accesibilidad de la biomasa al centro de generación distribuida (CGD) que se proyecta construir (Re.e : radio económico de recolecta). Este determina a que distancia máxima se recomienda recolectar biomasa residual en la región de modo que sea viable económicamente. De igual forma se recomienda que la distancia entre el CGD y el centro de consumo (Re.e=Radio económico para distribución eléctrica) no supere 20 km, esto dadas las condiciones de distribución de electricidad que acarrea perdidas de transmisión de energía. 
                        <br>
                        En la imagen se muestra las distancias descritas anteriormente: 
                            
                        </p>

                        <center>
                          <img src="{% static 'img/radio.png' %}" alt="radio" width="300px" >
                      </center>
                        <p>En la siguiente tabla se muestran las distancias máximas (Re.e) permitidas para cada región :</p>
                        <div class="centrado">
                            <table>
                              <caption>Radio económico de recolecta de las ZNI de Colombia</caption>
                                <tr>
                                  <th>Región</th>
                                  <th>Re.e[km]</th>
                                </tr>
                                <tr>
                                  <td>Amazónica</td>
                                  <td>7.84</td>
                                </tr>
                                <tr>
                                  <td>Orinoquía</td>
                                  <td>10.49</td>
                                </tr>
                                <tr>
                                    <td>Pacífica </td>
                                    <td>6</td>
                                  </tr>
                              </table>
                          </div>

                        

                          <p>
                            Para evaluar este parámetro, seleccione la región geográfica en la cual
                            se pretende implementar el CGD e ingrese la distancia entre el punto donde se encuentra la biomasa residual y el lugar donde se proyecta instalar el CDG. Tenga en cuenta la tabla anterior. Si no cuenta con esta información, ingrese una distancia estimada. 
                          </p>
                
                    </div>
                    <form action="{% url 'viabilidad' proceso.id %}" method="post">
                        {% csrf_token %}
                        <div class= "inputs">
                            <strong>Seleccione la región de Colombia: </strong>{{form.region}}
                            <strong>Ingrese la distancia (separador con punto) en kilometros (km) que existe desde la biomasa residual hasta la CGD: </strong>{{form.distancia}}
                        </div>
                        <button type="submit" class="button">Continuar</button>
                    </form>

                {% else %}
                    <div class= "results">
                        <h1>Resultados Viabilidad por radio de Recolecta </h1>
                        <div class="centrado">
                          <table>
                            <caption>Radio máximo de recolecta de las ZNI de Colombia</caption>
                              <tr>
                                <th>Región</th>
                                <th>Radio economico de recolecta [km]</th>
                              </tr>
                              <tr>
                                <td>Amazónica</td>
                                <td>7.84</td>
                              </tr>
                              <tr>
                                <td>Orinoquía</td>
                                <td>10.49</td>
                              </tr>
                              <tr>
                                  <td>Pacífica </td>
                                  <td>6</td>
                                </tr>
                            </table>
                        </div>

                        <p>La distancia ingresada de {{proceso.distancia}} km en la región {{proceso.get_region_display}} se considera <span class="{% if proceso.resultado == 'viable' %}viable{% endif %}">{{proceso.get_resultado_display}}</span> 
                            para desarrollar el proyecto de generación con biomasa residual. </p>
                        {% if proceso.resultado == 'inviable' %}
                        <p>Nota: Incluso considerando el resultado de este factor, se permite la opción de continuar con el proceso, para evaluar los resultados del potencial energético y la tecnología a utilizar con la biomasa disponible que sea ingresada.</p>
                            <div class="inviable">
                                <p>¿Desea continuar con el proceso?</p>
                                <a href="{% url 'agricola' proceso.id %}"><button class="button">Si</button></a>
                                <a href="{% url 'introduccion' %}"><button class="button">No</button></a>
                            </div>
                        {% else %}
                                <a href="{% url 'agricola' proceso.id %}"><button class="button">Continuar</button></a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
  </body>
</html>